
<html>
<body>
<h1 align="center">  <Strong >Custom Level Creator</strong> </h1>

<form accept-charset="UTF-8" action="/levels/edit" class="new_level" id="new_level" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="rqZpb7+iHvw91Ic9/10bNdlRrUaLCZjdX8Y2uU/UtfE=" /></div>
  

<%= label_tag 'creatorsName'%> <%= text_field_tag 'creatorsName', @levelOb.creatorsName, :placeholder => 'enter Creator\'s name' %>
</br>

<%= label_tag 'LevelName'%> <%= text_field_tag 'levelName', @levelOb.levelName, :placeholder => 'enter level\'s name' %>
</br>	
<%= label_tag 'startPoint'%> <%= text_field_tag 'startPoint', @levelOb.startPoint, :placeholder => 'enter start point' %>
</br>	
<%= label_tag 'endPoint'%> <%= text_field_tag 'endPoint', @levelOb.endPoint, :placeholder => 'enter end point' %>
		</br>
<%= label_tag 'timeLimit'%> <%= text_field_tag 'timeLimit', @levelOb.timeLimit, :placeholder => 'enter time limit ..' %>
		</br>
<%= label_tag 'title'%> <%= text_field_tag 'title', @levelOb.title, :placeholder => 'enter title  ..' %>
		</br>
<%= label_tag 'totalTrials'%> <%= text_field_tag 'totalTrials', @levelOb.totalTrials, :placeholder => 'enter  number of trials ..' %>
		</br>
</br>
</br>
	
 <div class= "RadioButton" id='qtradio'>
	    <%= label_tag 'Question Type' %>
	</br></br>
	<div id= 'rdnormal'>
			<%= radio_button_tag 'question_type', 'normal', @questionType[0]  %>  normal
			<% if @questionType[0] %>
			   <%= text_field_tag 'questions', @levelOb.questions.join(','), :placeholder => 'Enter QuEsTion type :)' %>
			<% else %>
			   <%= text_field_tag 'questions',  nil , :placeholder => 'Enter QuEsTion type :)' %>
			<%end%>
  </div> 	
  <div class = 'Radioqtm'>
      <%= radio_button_tag 'question_type', 'Measurement', @questionType[1] %>  Measurement <br>  
      <% if @questionType[1] %>
			<div id= txtbtnkcinput1  class= "clonedInput" >
					<% @levelOb.sp.each_index do |i| %>
							<%=text_field_tag 'sp'+ (i+1).to_s, @levelOb.sp[i], :placeholder => 'Enter Start Point' %>   		
							<%=text_field_tag 'ep'+ (i+1).to_s, @levelOb.ep[i],   :placeholder => 'Enter End Point'   %>  
							<%=text_field_tag 'fp'+ (i+1).to_s, @levelOb.fp[i],  :placeholder => 'Enter Flag Point'  %>  
							<%=text_field_tag 'answer'+ (i+1).to_s, @levelOb.answer[i],     :placeholder => 'Enter answer here' %>
							<br>																	      
					<% end%>
					</div>
			<% end %>
				<div id=hidebtnm  >
			<input type="button" id="btnadd" value="Add new measurement" /> 
			<input type="button" id="btnDel" value="remove name"  /> 
			  </div>		
					
	</div>
	
 </div> 


 <div class= "RadioButton" id='qsradio'>
	    <%= label_tag 'Question Sequence' %>
	    <%= radio_button_tag 'question_sequence', 'random', @questionSequence[0]%> Random </br>
	    <%= radio_button_tag 'question_sequence', 'random_once', @questionSequence[1]%> Random Once </br>
	    <%= radio_button_tag 'question_sequence', 'as_in_instruction_set', @questionSequence[2]%> As in instruction set </br>
			<%= radio_button_tag 'question_sequence',  'rbbkt', @questionSequence[3] %>    bkt <br>
			<div id= textboxkc1 class = "tobeclonedtextkc">

      <% if @questionSequence[3] %>		
	   		<% @levelOb.kcs.each_index do |kc| %>
						<%= text_field_tag 'kcs' + (kc+1).to_s, @levelOb.kcs[kc], :placeholder => 'Enter value of KC ' %>
						</br>
		  	<%end%>
		     <%else %>
					<%= text_field_tag 'kcs', nil, :placeholder => 'Enter value of KC ' %>
		  <%end%>
		</div>

			<div id = hidekc >	
				<input type="button" id="btntextkcadd" value="add kc text field" />
				<input type="button" id="btntextkcdel" value="remove Kc text Field" /> 
			</div>
			
			<div id= 'dtree'>
				<%= radio_button_tag 'question_sequence',  'rbdtree', @questionSequence[4]     %>    dtree <br>
				
				<div id= textbinsize1 class = "tobeclonedtextbinsize">
	      <% if @questionSequence[4] %>
    				<% @levelOb.binsizes.each_index do |bs| %>
		        		<%= text_field_tag 'binsize'+ (bs+1).to_s,  @levelOb.binsizes[bs], :placeholder => 'Enter Bin Size ' %>
		</br>
				    <%end%>
        <%else %>
						<%= text_field_tag 'binsize',  nil, :placeholder => 'Enter Bin Size ' %>

				<%end%>
				 </div>  
				<div id = hidebs >	
				<input type="button" id="btntextaddbinsize" value="AdD MOre Bin SiZe" />
				<input type="button" id="btntextdelbinsize" value="remove it" /> 
			  </div>
			</div>
	 
 <div class= "RadioButton">
	  type </br>
			<%= radio_button_tag 'type', 'At_Midpoint', @type[0]%>    At_midpoint
     	<%= radio_button_tag 'type', 'at 0', @type[1]%>   		At 0
  		<%= radio_button_tag 'type', 'at 1/4s', @type[2]%>     At 1/4s
   		<%= radio_button_tag 'type', 'at 10s', @type[3]%>      At 10s
     <%= radio_button_tag 'type', 'at Whole Number', @type[4]%> At Whole Number
 </div>

	<div class= "RadioButton">
	  mode </br>
			<%= radio_button_tag 'mode', 'Click', @mode[0]%>    click
     	<%= radio_button_tag 'mode', 'type', @mode[1]%>   		type
  		<%= radio_button_tag 'mode', 'Mix!', @mode[2] %>     Mix!
   		<%= radio_button_tag 'mode', 'Random', @mode[3]%>      Random
	</div>

 <div class= "RadioButton">
	  db </br>
			<%= radio_button_tag 'db', 'create', false%>  create
     	<%= radio_button_tag 'db', 'update', true%>  update
 </div>

  <div class="actions">
     <input id="level_submit" name="commit" type="submit" value="SUBMIT!" />
    
  </div>
</form>
<!-- <%= debug(params) if Rails.env.development? %>  -->
</body>
</html>